.card {
    margin: 100px;
    margin-left: 500px;
    width: 219.2px;
    height: 299.2px;
    background: radial-gradient(#7b2cbf, #10002b);
    border-radius: 10px;
}

.card_inner {
    width: 100%;
    height: 100%;
    border: 4px solid #9d4edd;
    border-radius: 10px;
    position: relative;
}

/* .topleft {
    width: 20%;
    height: 20%;
    background-color: #9d4edd;
    border-bottom-right-radius: 10px;
    position: absolute;
} */

/* .bottomright {
    width: 20%;
    height: 20%;
    background-color: #9d4edd;
    border-top-left-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
} */

.card_inner img{
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 42%;
    border-radius: 50px;
    border: 3px solid #9d4edd;
}