* {
    margin: 0;
    padding: 0;
  }
.container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.doodles {
  background: url('https://pbs.twimg.com/media/FTSfCnTXoAEyhOp?format=jpg&name=large');
  background-size: cover;
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}
.dinobabies {
  background: url('images/dinobabiesbackground.jpg');
  background-size: cover;
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}
