* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: purple;
}

.card {
    margin: 100px;
    margin-left: 500px;
    width: 191.8px;
    height: 261.8px;
    background: green;
}

